#button{
    height: 50%;
    width: 15%;           
    font-size: 28pt;
    text-align: justify;
    color: rgb(0, 0, 0);
    border: 0.1em solid #000000;
    margin: 0.3em;
    padding: 0.5em;
}

#button2 {
    text-align: center;
    height: 20%;
    width: 12%;
    font-size: 20pt;
    color: rgb(0, 0, 0);
    border: 0.22em solid transparent;
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    margin: 0.3em;
    padding: 0.5em;
    animation: rainbow 3s linear infinite;
    background-color: rgb(255, 255, 255);
}

@keyframes rainbow {
    0% { border-image-source: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet); }
    100% { border-image-source: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red); }
}

#container{
    background-color:rgba(235, 235, 235, 0.904);
    background-repeat: repeat;
    background-size: auto;
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-radius: 2em;
    border: 0.22em solid transparent;
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0% { border-image-source: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet); }
    100% { border-image-source: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red); }
}

#buttonnivel{
    height: 50%;
    width: 50%;           
    font-size: 20pt;
    text-align: justify;
    color: rgb(0, 0, 0);
    border: 0.1em solid #000000;
    border-radius: 20em;
    margin: 0.3em;
    padding: 0.5em;
    background-color: rgb(255, 252, 252);
    transform: scale(1.05); 
    transition: transform 0.1s ease;
}


button:hover{
    transform: scale(1.05); 
    transition: transform 0.1s ease;
}

h1{
    font-size: 6em;
}

#paralelogramo{
    height: 8%;
    width: 9%;
}

p{
    font-size: 1.6em;
}

.logo{
    margin: 80px;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 30%;
    height: 30%;
}

#caixa1{
    margin: 8em;
    padding: 0.8em;
    text-align: center;
    border-radius: 2em;
    background-color: rgb(255, 255, 255);

}

#caixa2{
    margin: 8em;
    padding: 0.8em;
    text-align: center;

}

#caixa3{
    margin: 8em;
    padding: 0.8em;
    text-align: center;

}

#caixa4{
    margin: 8em;
    padding: 0.8em;
    text-align: center;

}