.btn{
    margin:2em;
}

img{
    width: 100px;
    height: 100px;
}
h3{
    font-size: 30pt;
    color: rgb(230, 225, 225);
}
h5{
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    margin: 0.5em;
}

#div{
    display: flex;
    justify-content: center; 
    align-items: center;       
    margin:5px 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;  
}

.pessoa img{
    border-radius: 50%;
    width:200px;
    height: 200px;
    border: solid 4px rgb(0, 0, 0);
}

.pessoa{
    text-align: center;
    padding: 2em;
    margin:2em;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    border-radius:10px;
    background-color:rgb(230, 225, 225);
}

[href*='https://github.com']{
    color:black;
    margin:3px;
}

/* No arquivo estilo/pag_sobre.css */

/* Estilo para os botões com a classe "button2" */
.button2 {
    background-color: #fff;
    color: #240046;
    border: 2px solid #240046;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
  }
  
  .button2:hover {
    border-width: 6px;
    background-color: #ffffff;
  }
  